<main>

    <div id="blurryFilter"></div>
    <article>
        <section id="loginPicture">
        </section>

        <section id="loginSection">
            <div>
            <h1>Connexion</h1>

            <span>Vous n'avez pas de compte ? <a>En créer un !</a> </span>
        </div>
        <div id="formInput">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="Nom d'utilisateur" />
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-lock"></i>
                </span>
                <p-password  placeholder="Mot de passe" [toggleMask]="true" [feedback]="false"></p-password>
            </div>

            <div id="controlPassword">
                <p-checkbox label="Se souvenir de moi" [binary]="true" [(ngModel)]="selected"></p-checkbox>
                <a>Mot de passe oublié ?</a>
            </div>
        </div>

            <button pButton type="button" label="Sign in" (click)="signIn()"></button>
        </section>
    </article>


    <footer>
        <ul>
            <li><a href="#">Politique</a></li>
            <li><a href="#">Sécurité</a></li>
            <li><a id="nousContacter" href="nousContacter.html">Nous contacter</a></li>
        </ul>
    </footer>
</main>