/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.p-password {
  width: 100%;
}

a {
  text-decoration: none; // Supprime la soulignement par défaut
  color: #3b82f6; // Couleur du texte des liens (peut être modifiée)
  transition: color 0.3s ease; // Animation de transition pour le changement de couleur

  &:hover {
    color: #0056b3; // Couleur du texte au survol (peut être modifiée)
    cursor: pointer;
    text-decoration: underline;
  }
}

// Fixé : l'état "focus" sur l'élément .p-inputgroup faisait disparaitre l'oeil
.p-inputgroup > p-password > .p-password.p-inputwrapper > .p-icon-wrapper {
  z-index: 999;
}